@page "/seller-dashboard/{UserDetailId}/profile/"
@layout SellerLayout
@rendermode InteractiveServer
@using Blazored.Toast
@using Blazored.Toast.Configuration
@using EcommerceDBProject.Components.Layout
@using Syncfusion.Blazor.Popups;
@using Syncfusion.Blazor.Buttons;
<style>
    .container {
        width: 750px;
        border: 3px solid #355c7d;
        box-shadow: #90a2b3 0 2px 4px;
    }

    .div_color {
        background-color: #889fb2;
    }

    .div_color1 {
        background-color: #e4eaef;
    }

    body {
        background: white;
    }

    .form-control:focus {
        box-shadow: none;
        border-color: #4e648a
    }

    .profile-button {
        background-color: #cf889d;
        width: 200px;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
        height: 40px;
        font-size: 20px;
        line-height: 40px;
        outline: 0;
        overflow: hidden;
        padding: 0 20px;
        pointer-events: auto;
        position: relative;
        text-align: center;
        touch-action: manipulation;
        user-select: none;
        -webkit-user-select: none;
        vertical-align: top;
        white-space: nowrap;
        z-index: 9;
        border: 3px solid #9c4e65;
        transition: box-shadow .2s;
    }

        .profile-button:hover {
            background: #9c4e65
        }

        .profile-button:focus {
            background: #e099ae;
            box-shadow: none
        }

    .back:hover {
        color: #4a6a8d;
        cursor: pointer
    }

    .labels {
        font-size: 15px;
    }

</style>
<div>
    <div class="container-fluid rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-4 border-right div_color">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5"
                         width="150px"
                         src="user.png"><span class="font-weight-bold" style="font-size:22px;">Edogaru</span><span class="text-black-50">edogaru@mail.com.my</span><span> </span>
                </div>
            </div>
            <div class="col-md-8 border-right div_color1">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h3 class="text-right">Profile Settings</h3>
                    </div>
                    <div style="border:2px solid lightgrey"></div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <label class="labels">Name</label><input type="text" class="form-control"
                                                                     placeholder="first name" value="">
                        </div>
                        <div class="col-md-6">
                            <label class="labels">Surname</label><input type="text"
                                                                        class="form-control" value="" placeholder="surname">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label class="labels">Mobile Number</label><input type="text"
                                                                              class="form-control" placeholder="enter phone number" value="">
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Email ID</label><input type="text" class="form-control" placeholder="enter email id" value="">
                        </div>
                        <div class="col-md-12">
                            <label class="labels">PassWord</label><input type="text" class="form-control" placeholder="password" value="">
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Address Line 1</label><input type="text"
                                                                               class="form-control" placeholder="enter address line 1" value="">
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Postcode</label><input type="text"
                                                                         class="form-control" placeholder="enter address line 2" value="">
                        </div>
                        <div class="col-md-12">
                            <label class="labels">State</label><input type="text"
                                                                      class="form-control" placeholder="enter address line 2" value="">
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Area</label><input type="text" class="form-control"
                                                                     placeholder="enter address line 2" value="">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label class="labels">Country</label><input type="text"
                                                                        class="form-control" placeholder="country" value="">
                        </div>
                        <div class="col-md-6">
                            <label class="labels">State/Region</label><input type="text"
                                                                             class="form-control" value="" placeholder="state">
                        </div>
                    </div>
                    <div class="mt-5 text-center">
                        <button class="profile-button" type="button">
                            Save
                            Profile
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
