@code {
    [Inject]
    private NavigationManager NavigationManager { get; set; }

    private string CurrentUrl { get; set; }
    private string UserDetailId { get; set; }

    protected override void OnInitialized()
    {
        CurrentUrl = NavigationManager.Uri;
        UserDetailId = CurrentUrl.Split('/')[4];
    }
}

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="@($"{CurrentUrl}")">EcommerceDBProject</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/add-category" Match="NavLinkMatch.All">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Add Category
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/add-product">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>Add Product
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin/add-supplier/">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>Add Supplier
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin/add-promotion">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>Add Promotion
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/update-category">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>Update Category
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/update-product">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>Update Product
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/update-supplier">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>Update Supplier
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/update-promotion">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>Update Promotion
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/move-data">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>Move Data
            </NavLink>
        </div>

    </nav>
</div>
