@page "/admin/addSupplier/"
@layout AdminLayout
@rendermode InteractiveServer
@using Blazored.Toast
@using Blazored.Toast.Configuration
@using EcommerceDBProject.Components.Layout
@using Syncfusion.Blazor.Popups;
@using Syncfusion.Blazor.Buttons;
<style>
    .container {
        width: 1200px;
        height: auto;
        margin-top: 100px;
        /* Center horizontally */
        background-color: #fff;
        padding: 20px;
        border: 3px solid #355c7d;
        border-radius: 20px;
        box-shadow: 0 20px 20px rgba(223, 214, 214);
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
    }

    .dropdown {
    }

        .dropdown select {
            padding: 8px;
            font-size: 15px;
            width: 240px;
            border-radius: 10px;
        }

    .heading {
        font-family: sans-serif;
        color: #355c7d;
        text-align: center;
        text-decoration: underline;
        font-weight: bold;
    }

    .label-style {
        font-size: 18px;
        font-family: 'Sans Serif';
        color: black;
        font-weight: bold;
        text-align: left
    }

    .text-box {
        border: 1px solid #355c7d;
    }
    /* CSS */
    .button-style {
        background-color: #cf889d;
        width: 200px;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
        height: 40px;
        font-size: 20px;
        outline: 0;
        overflow: hidden;
        padding: 0 20px;
        pointer-events: auto;
        position: relative;
        text-align: center;
        touch-action: manipulation;
        user-select: none;
        -webkit-user-select: none;
        vertical-align: top;
        white-space: nowrap;
        width: 200px;
        z-index: 9;
        transition: box-shadow .2s;
    }

        .button-style:hover {
            box-shadow: #355c7d 0 3px 8px;
        }
</style>
<div class="container">
    <div class="col-12 mt-3 mb-3 text-center">
        <h3 class="heading">ADD SUPPLIER</h3>
    </div>
    <div class="col-12 mb-3" style="border:1px solid lightgrey"></div>
    <div class="col-12 row mt-2 p-0">
        <div class="col-6 row m-0 p-0">
            <div class="col-4 m-1 text-left">
                <label class="label-style">First Name</label>
            </div>
            <div class="col-7 m-1">
                <input type="text" class="form-control text-box" id="inputLastName" placeholder="First Name">
            </div>
        </div>
        <div class="col-6 row m-0 p-0">
            <div class="col-4 m-1 text-left">
                <label class="label-style">Last Name</label>
            </div>
            <div class="col-7 m-1">
                <input type="text" class="form-control text-box" id="inputFirstName" placeholder="Last Name">
            </div>
        </div>
    </div>
    <div class="col-12 row mt-2 p-0">
        <div class="col-6 row m-0 p-0">
            <div class="col-4 m-1 text-left">
                <label class="label-style">Email</label>
            </div>
            <div class="col-7 m-1">
                <input type="text" class="form-control text-box" id="inputEmail" placeholder="Email">
            </div>
        </div>
        <div class="col-6 row m-0 p-0">
            <div class="col-4 m-1 text-left">
                <label class="label-style">Phone Number</label>
            </div>
            <div class="col-7 m-1">
                <input type="text" class="form-control text-box" id="inputNumber" placeholder="Phone Number">
            </div>
        </div>
    </div>
    <div class="col-12 row mt-2 p-0">
        <div class="col-6 row m-0 p-0">
            <div class="col-4 m-1 text-left">
                <label class="label-style">Password</label>
            </div>
            <div class="col-7 m-1">
                <input type="text" class="form-control text-box" id="inputPassword" placeholder="Password">
            </div>
        </div>
        <div class="col-6 row m-0 p-0">
            <div class="col-4 m-1 text-left">
                <label class="label-style">House Number</label>
            </div>
            <div class="col-7 m-1">
                <input type="text" class="form-control text-box" id="inputHouseNumber" placeholder="House Number">
            </div>
        </div>
    </div>
    <div class="col-12 row mt-2 p-0">
        <div class="col-6 row m-0 p-0">
            <div class="col-4 m-1 text-left">
                <label class="label-style">street</label>
            </div>
            <div class="col-7 m-1">
                <input type="text" class="form-control text-box" id="inputStreet" placeholder="Street">
            </div>
        </div>
        <div class="col-6 row m-0 p-0">
            <div class="col-4 m-1 text-left">
                <label class="label-style">City</label>
            </div>
            <div class="col-7 m-1">
                <input type="text" class="form-control text-box" id="inputCity" placeholder="City">
            </div>
        </div>
    </div>

    <div class="col-12 row mt-2 p-0">
        <div class="col-6 row m-0 p-0">
            <div class="col-4 m-1 text-left">
                <label class="label-style">Country</label>
            </div>
            <div class="col-7 m-1">
                <input type="text" class="form-control text-box" id="inputCountry" placeholder="Country">
            </div>
        </div>
        <div class="col-6 row m-0 p-0">
            <div class="col-4 m-1 text-left">
                <label class="label-style">Region</label>
            </div>
            <div class="col-7 m-1">
                <input type="text" class="form-control text-box" id="inputRegion" placeholder="Region">
            </div>
        </div>
    </div>
    <div class="col-12 row mt-2 p-0">
        <div class="col-6 row m-0 p-0">
            <div class="col-4 m-1 text-left">
                <label class="label-style">Zip Code</label>
            </div>
            <div class="col-7 m-1">
                <input type="text" class="form-control text-box" id="inputZipCode" placeholder="Zip Code">
            </div>
        </div>
        <div class="col-6 row m-0 p-0">
            <div class="col-4 m-1 text-left">
                <label class="label-style">Postel Code</label>
            </div>
            <div class="col-7 m-1">
                <input type="text" class="form-control text-box" id="inputPostalCode" placeholder="Postal Code">
            </div>
        </div>
    </div>

    <div class="col-12 mt-3 mb-3 text-center">
        <button type="button" class="button-style">Add Supplier</button>
    </div>
</div>
<BlazoredToasts Position="Blazored.Toast.Configuration.ToastPosition.TopRight"
                Timeout="9999999"
                IconType="IconType.FontAwesome"
                ErrorIcon="error_outline"
                InfoIcon="school"
                SuccessIcon="done_outline"
                WarningIcon="warning" />